
.productdisplay {
    display: flex;
    padding: 20px;
    background-color: rgb(30, 30, 61);
    color: white;
}

.productdisplay-left {
    flex: 1;
    padding: 20px;
}

.productdisplay-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.productdisplay-right {
    flex: 1;
    padding: 20px;
}

.productdisplay-right h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.productdisplay-right p {
    margin: 10px 0;
}

.reminder-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}

.reminder-button:hover {
    background-color: #45a049;
}

.description {
    padding: 20px;
    background-color: black;
    color: white;
}